<section id="work">
	<article id="work-item-1" class="work-item">
		<a href="/work/takeoff" class="work-link">
			<figure>
				<div class="work-img"></div>
				<figcaption class="work-info">
					<p class="work-name">Takeoff Media</p>
					<p class="work-description">HTML5 website</p>
				</figcaption>
			</figure>
		</a>
	</article>
	<article id="work-item-2" class="work-item">
		<a href="/work/petersen" class="work-link">
			<figure>
				<div class="work-img"></div>
				<figcaption class="work-info">
					<p class="work-name">Petersen Museum</p>
					<p class="work-description">HTML5 website</p>
				</figcaption>
			</figure>
		</a>
	</article>
	<article id="work-item-3" class="work-item">
		<a href="/work/punta-carretas-shopping" class="work-link">
			<figure>
				<div class="work-img"></div>
				<figcaption class="work-info">
					<p class="work-name">Punta Carretas Shopping</p>
					<p class="work-description">HTML5 website</p>
				</figcaption>
			</figure>
		</a>
	</article>
	<article id="work-item-4" class="work-item">
		<a href="/work/escuela-plus" class="work-link">
			<figure>
				<div class="work-img"></div>
				<figcaption class="work-info">
					<p class="work-name">Escuela Plus</p>
					<p class="work-description">HTML5 website</p>
				</figcaption>
			</figure>
		</a>
	</article>
	<article id="work-item-5" class="work-item">
		<a href="/work/lactld" class="work-link">
			<figure>
				<div class="work-img"></div>
				<figcaption class="work-info">
					<p class="work-name">LACTLD</p>
					<p class="work-description">HTML5 website</p>
				</figcaption>
			</figure>
		</a>
	</article>
</section>
<script type="text/javascript">
	require([], function(){
		$(document).attr({title:'Diego Téliz | Work'})
	});
</script>
<script type="text/javascript" src="/template/js/work.js"></script>