RewriteEngine on

RewriteCond %{HTTP_HOST} ^diegoteliz\.tk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.diegoteliz\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.diegoteliz\.tk$
RewriteRule ^/?$ "http\:\/\/diegoteliz\.com" [R=301,L]

# html5 pushstate (history) support:
<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.php [L]
</ifModule>

# Redirections
Redirect /footy https://goo.gl/photos/mxgWeWmBRtkELN7t7